<header id="header">
    <div id="mainMenu">
        <button id="mainMenuBtn">
            <img src="/icons/menu.svg" alt="main menu">
        </button>
        <nav class="menu" id="mainMenuMenu">
            <ul>
                <li>
                    <dug-tooltip data-text="home">
                        <a href="#">
                            <img src="/icons/home.svg" alt="home">
                        </a>
                    </dug-tooltip>
                </li>
                <li>
                    <dug-tooltip data-text="about">
                        <a href="#about">
                            <img src="/icons/help.svg" alt="about me">
                        </a>
                    </dug-tooltip>
                </li>
                <li>
                    <dug-tooltip data-text="contact">
                        <a href="#contact">
                            <img src="/icons/at.svg" alt="contact me">
                        </a>
                    </dug-tooltip>
                </li>
                <li>
                    <dug-tooltip data-text="projects">
                        <a href="#projects">
                            <img src="/icons/stackstar.svg" alt="my projects">
                        </a>
                    </dug-tooltip>
                </li>
            </ul>
        </nav>
    </div>
    <div id="logo">
        <h1>doug ALCEDO</h1>
        <strong>full-stack web developer</strong>
    </div>
</header>